.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: grey;
    padding: 10px 0;
    &-text {
        flex: none;
        padding: 0 10px;
    }
    &-logo {
        display: block;
        width: 30px;
        height: 30px;
        flex: none;
    }
}

main {
    padding-top: 50px;
}